
#título {

    background-color: orangered;
    width: 100px;
    font-size: 55px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

}


.dicas {

    color: brown;
    font-weight: bolder;
    font-size: 15px;
    border: orangered 10px;
}

li {  
    background-color: orangered;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    



}

body { 


    background: rgb(228, 228, 50);
    
}

img {

    border: solid red

}


a {
color:blue;
text-decoration: none;


}


a:hover {

color:chocolate;

}

#banner {

padding: 100px 100px 100px 100px;

}


p {



    color: brown;
    font-weight: bolder;
    font-size: 15px;
    border: orangered 10px;
}



}